<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/acceuil.css' type='text/css' />
    <link rel="icon"type="image/png" href="/images/l1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liqnet</title>
  </head>
  <body>
	<div><img src="/images/l1.png" class="xe"></div>
	<center>
		<p> Welcome To <strong>VLIK</strong> Web Application</p>
		<div class="service">
		
			<div>
				<div class="img1"><center><img src="images/xed.png"></center></div>
				<div class="text"><center><p class="pi">Journal</p></center></div>
			</div>
			<div>
				<div class="img1"><center><img src="images/tl.png"></center></div>
				<div class="text"><center><p class="pi">Real-Time</p></center></div>
			</div>
			<div>
				<div class="img1"><center><img src="images/not.png"></center></div>
				<div class="text"><center><p class="pi">Alarms</p></center></div>
			</div>
			<div>
				<div class="img1"><center><img src="images/ane.png"></center></div>
				<div class="text"><center><p class="pi">Analysis</p></center></div>
			</div>
		</div> 
		<button onclick="window.location.href='/login'">Login</button>	
		<p class="pix"> Copyright © 2025 AnyWhere-datas. All rights reserved. </p> 
	</center>
	
  </body>
</html>
