<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	  <!--  <h1><%= title %></h1>-->
	  <!--    <p>Welcome to <%= title %></p>-->
  	<nav>
  		<img src="/images/logo1.png" class="logo">
  		
  	
  	</nav>
  	
  	<section>
  	
		<img src="/images/si.png" class="logo2">
		<input type="name" placeholder="enter y're username">
		<input type="password" placeholder="enter y're password">
		<button onclick="window.location.href = '/data';" >connexion</button>
		
  	</section>
	  		
  </body>
</html>
<% data.forEach( dat =>{ %>
	
	<div><p><%= dat.username %></p></div>
	
<% });%>
